dj-database-url==0.4.2
Django==1.11.6
django-bootstrap3==9.1.0
django-fontawesome==0.3.1
django-jquery==3.1.0
django-sslserver==0.20
gunicorn==19.7.1
numpy==1.13.3
psycopg2==2.7.3.2
pytz==2017.2
PyYAML==3.12
whitenoise==3.3.1
