<html>
  <head>
    <title>
      Coastal Groundwater Vulnerability Assessment and Mapping (CGWVAM)
    </title>
    {# Load the tag library #}
    {% load bootstrap3 %}
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    <script type="text/javascript" src="{{ STATIC_URL }} /static/js/jquery.js">
    </script>
    {% bootstrap_javascript %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCve4liJjacyI50x_HJyMPYaxoGL_e7s2U"></script>
    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %} "/>
    <link href="{{ STATIC_URL }} /favicon.ico?v=2" rel="icon" type="image/x-icon">
  </head>
  <body>
    <div id="title">
      <div class="col-md-4 titleimage">
        <img src="{% static "logo.png" %}"  alt="NCESS LOGO">
      </div>
      <div class="col-md-8 titletext">
        <h1 >Coastal Groundwater Vulnerability Assessment and Mapping (CGWVAM)</h1>
      </div>
    </div>
    <div id="query" class="text-center">
    {# Display a form #}
    <form id="uploadinput" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <div id="analysis" class="input-group">
        <span class="input-group-addon">Mode of analysis &nbsp; <span class="glyphicon glyphicon-random"></span></span>
        <div class="col-md-12 nopad">
          <select id="selectanalysis" name="analysis" class="selectpicker form-control" data-live-search="true" title="Please select one Analysis mode" required style="min-height:45px;">
            <option value="drastic">DRASTIC-U</option>
            <option value="galdit">GALDIT-U</option>
          </select>
        </div>
      </div>
      <div id="drasticdiv">
        <div class="input-group">
          <span class="input-group-addon">Depth to water table (D)</span>
          <div class="col-md-3 nopad">
          <input type="text" name="DW" class="form-control drastic" placeholder="weightage" value="5">
          </div>
          <div class="col-md-9 nopad">
          <input type="file" name="DF" class="form-control drastic">
          </div>
        </div>
        <div class="input-group">
          <span class="input-group-addon">Net Recharge (R)</span>
          <div class="col-md-3 nopad">
          <input type="text" name="RW" class="form-control drastic" placeholder="weightage" value="4">
          </div>
          <div class="col-md-9 nopad">
          <input type="file" name="RF" class="form-control drastic">
          </div>
        </div>
        <div class="input-group">
          <span class="input-group-addon">Aquifer media (A)</span>
          <div class="col-md-3 nopad">
          <input type="text" name="AW" class="form-control drastic" placeholder="weightage" value="3">
          </div>
          <div class="col-md-9 nopad">
          <input type="file" name="AF" class="form-control drastic">
          </div>
        </div>
        <div class="input-group">
          <span class="input-group-addon">Soil media (S)</span>
          <div class="col-md-3 nopad">
          <input type="text" name="SW" class="form-control drastic" placeholder="weightage" value="2">
          </div>
          <div class="col-md-9 nopad">
          <input type="file" name="SF" class="form-control drastic">
          </div>
        </div>
        <div class="input-group">
          <span class="input-group-addon">Topography / Slope (T)</span>
          <div class="col-md-3 nopad">
          <input type="text" name="TW" class="form-control drastic" placeholder="weightage" value="1">
          </div>
          <div class="col-md-9 nopad">
          <input type="file" name="TF" class="form-control drastic">
          </div>
        </div>
        <div class="input-group">
          <span class="input-group-addon">Impact of vadose zone (I)</span>
          <div class="col-md-3 nopad">
          <input type="text" name="IW" class="form-control drastic" placeholder="weightage" value="1">
          </div>
          <div class="col-md-9 nopad">
          <input type="file" name="IF" class="form-control drastic">
          </div>
        </div>
        <div class="input-group">
          <span class="input-group-addon">Hydraulic Conductivity (C)</span>
          <div class="col-md-3 nopad">
          <input type="text" name="CW" class="form-control drastic" placeholder="weightage" value="3">
          </div>
          <div class="col-md-9 nopad">
          <input type="file" name="CF" class="form-control drastic">
          </div>
        </div>
        <div class="input-group">
          <span class="input-group-addon">Impact of urban area (U)</span>
          <div class="col-md-3 nopad">
          <input type="text" name="UW" class="form-control drastic" placeholder="weightage" value="1">
          </div>
          <div class="col-md-9 nopad">
          <input type="file" name="UF" class="form-control drastic">
          </div>
        </div>
      </div>

      <!--div id="galditdiv">
        <div class="input-group">
          <span class="input-group-addon">Groundwater occurrence (Aquifer type)</span>
          <div class="col-md-3 nopad">
          <input type="text" name="GW" class="form-control galdit" placeholder="weightage" value="5">
          </div>
          <div class="col-md-9 nopad">
          <input type="file" name="GF" class="form-control galdit">
          </div>
        </div>
      </div>
      <div class="input-group">
        <span class="input-group-addon">Hydraulic Conductivity (GDP/m3)</span>
        <div class="col-md-3 nopad">
        <input type="text" name="HW" class="form-control galdit" placeholder="weightage" value="5">
        </div>
        <div class="col-md-9 nopad">
        <input type="file" name="HF" class="form-control galdit">
        </div>
      </div>
      <div class="input-group">
        <span class="input-group-addon">Groundwater Table above MSL (m)</span>
        <div class="col-md-3 nopad">
        <input type="text" name="GTW" class="form-control galdit" placeholder="weightage" value="5">
        </div>
        <div class="col-md-9 nopad">
        <input type="file" name="GTF" class="form-control galdit">
        </div>
      </div>
      <div class="input-group">
        <span class="input-group-addon">Distance from Shore (spatial extend of area from shoreline) (m)</span>
        <div class="col-md-3 nopad">
        <input type="text" name="DW" class="form-control galdit" placeholder="weightage" value="5">
        </div>
        <div class="col-md-9 nopad">
        <input type="file" name="DF" class="form-control galdit">
        </div>
      </div>
      <div class="input-group">
        <span class="input-group-addon">Impact of existing Seawater intrusion zone (Cl-/HCO3 ratio)</span>
        <div class="col-md-3 nopad">
        <input type="text" name="IW" class="form-control galdit" placeholder="weightage" value="5">
        </div>
        <div class="col-md-9 nopad">
        <input type="file" name="IF" class="form-control galdit">
        </div>
      </div>
      <div class="input-group">
        <span class="input-group-addon">Thickness of Saturated layer (m) in vertical scale</span>
        <div class="col-md-3 nopad">
        <input type="text" name="TW" class="form-control galdit" placeholder="weightage" value="5">
        </div>
        <div class="col-md-9 nopad">
        <input type="file" name="TF" class="form-control galdit">
        </div>
      </div>
      <div class="input-group">
        <span class="input-group-addon">Impact of Urban area on seawater intrusion</span>
        <div class="col-md-3 nopad">
        <input type="text" name="UW" class="form-control galdit" placeholder="weightage" value="5">
        </div>
        <div class="col-md-9 nopad">
        <input type="file" name="UF" class="form-control galdit">
        </div>
      </div>
    </div!-->
    </br>
      {% buttons %}
        <button type="submit" name="d" class="btn btn-lg btn-primary">
          {% bootstrap_icon "ok" %} Calculate
        </button>
      {% endbuttons %}
    </form>
    </div>
    <div id="map"></div>
    <script>
      //google maps
      //var map;
      maphit = 0;
      var overlay;
      USGSOverlay.prototype = new google.maps.OverlayView();
      // Initialize the map and the custom overlay.
      function initMap(png,minx,miny,maxx,maxy) {
        maphit = maphit+1;
        console.log(maphit);
         window.map = new google.maps.Map(document.getElementById('map'), {
          //center: {lat: (miny+maxy)/2, lng: (minx+maxx)/2},
          zoom: 15,
          mapTypeId: 'roadmap'
        });
        //infoWindow = new google.maps.InfoWindow;

        // The photograph is courtesy of the U.S. Geological Survey.
        if (png) {
          var srcImage = window.location.origin+png;//png;
          //console.log(srcImage);
          // The custom USGSOverlay object contains the USGS image,
          // the bounds of the image, and a reference to the map.
          var bounds = new google.maps.LatLngBounds(
              new google.maps.LatLng(miny, minx),
              new google.maps.LatLng(maxy, maxx));
          map.fitBounds(bounds);
          overlay = new USGSOverlay(bounds, srcImage, map);
        }
      }

      /** @constructor */
      function USGSOverlay(bounds, image, map) {

        // Initialize all properties.
        this.bounds_ = bounds;
        this.image_ = image;
        this.map_ = map;

        // Define a property to hold the image's div. We'll
        // actually create this div upon receipt of the onAdd()
        // method so we'll leave it null for now.
        this.div_ = null;

        // Explicitly call setMap on this overlay.
        this.setMap(map);
      }

      /**
       * onAdd is called when the map's panes are ready and the overlay has been
       * added to the map.
       */
      USGSOverlay.prototype.onAdd = function() {

        var div = document.createElement('div');
        div.style.borderStyle = 'none';
        div.style.borderWidth = '0px';
        div.style.position = 'absolute';

        // Create the img element and attach it to the div.
        var img = document.createElement('img');
        img.src = this.image_;
        img.style.width = '100%';
        img.style.height = '100%';
        img.style.position = 'absolute';
        div.appendChild(img);

        this.div_ = div;

        // Add the element to the "overlayLayer" pane.
        var panes = this.getPanes();
        panes.overlayLayer.appendChild(div);
      };

      USGSOverlay.prototype.draw = function() {

        // We use the south-west and north-east
        // coordinates of the overlay to peg it to the correct position and size.
        // To do this, we need to retrieve the projection from the overlay.
        var overlayProjection = this.getProjection();

        // Retrieve the south-west and north-east coordinates of this overlay
        // in LatLngs and convert them to pixel coordinates.
        // We'll use these coordinates to resize the div.
        var sw = overlayProjection.fromLatLngToDivPixel(this.bounds_.getSouthWest());
        var ne = overlayProjection.fromLatLngToDivPixel(this.bounds_.getNorthEast());

        // Resize the image's div to fit the indicated dimensions.
        var div = this.div_;
        div.style.left = sw.x + 'px';
        div.style.top = ne.y + 'px';
        div.style.width = (ne.x - sw.x) + 'px';
        div.style.height = (sw.y - ne.y) + 'px';
      };

      // The onRemove() method will be called automatically from the API if
      // we ever set the overlay's map property to 'null'.
      USGSOverlay.prototype.onRemove = function() {
        this.div_.parentNode.removeChild(this.div_);
        this.div_ = null;
      };


      if (navigator.geolocation) {
        navigator.geolocation.watchPosition(function(position) {
          var geolocate = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
          if (maphit<1){
          map.setCenter(geolocate);
          }
          function addMarker(position) {
          var marker = new google.maps.Marker({
            position: position,
            map: map
          });
          markers.push(marker);
        }
        });
      } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
      }

      // Try HTML5 geolocation.
      /*function getlocation(){
        if (navigator.geolocation) {
          navigator.geolocation.watchPosition(function(position) {
            var geolocate = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            map.setCenter(geolocate);
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            infoWindow.setPosition(pos);
            infoWindow.setContent('Location found.');
            infoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }*/
      //setInterval(function(){getlocation();}, 10000);
      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
      }
      function finitMap (){
        if (maphit<1){
          initMap('','68.14712','23.63936','97.34466','28.20453');
          $('html,body').animate({
                  scrollTop: $("#title").offset().top},
            'slow');
        }
        else{
          $('html,body').animate({
                  scrollTop: $("#results").offset().top},
            'slow');
        }
        }
        google.maps.event.addDomListener(window, 'load', finitMap);
    </script>
    <script>
      //$('input.drastic').prop('required',true);
      //console.log($("#selectanalysis option:selected").val());
      $(function() {
        $('#selectanalysis').change(function(){
        //console.log($(this).val());
        if ($(this).val() == "galdit") {
          $('input.galdit').prop('required',true);
          $('input.drastic').prop('required',false);
          $("#galditdiv").show();
          $('#drasticdiv').hide();
        }
        else {
          $('input.galdit').prop('required',false);
          $('input.drastic').prop('required',true);
          $('#galditdiv').hide();
          $('#drasticdiv').show();
        }
      });
      });
    </script>
    <div id="results">
      <div id="downloads" class="text-center">
        <h1><span>DOWNLOADS</span></h1>
          {% if output_file_url %}
            <a class="btn btn-success btn-lg" href="{{ output_file_url }}" download><span class="glyphicon glyphicon-download-alt"></span>&nbsp;Single Band file (GeoTiff)</a>
          {% endif %}
          {% if rendered_file_url %}
            <a class="btn btn-success btn-lg" href="{{ rendered_file_url }}" download><span class="glyphicon glyphicon-download-alt"></span>&nbsp;Coloured RGB file (GeoTiff)</a>
          {% endif %}
          {% if png_file_url %}
          <a class="btn btn-success btn-lg" href="{{ png_file_url }}" download><span class="glyphicon glyphicon-download-alt"></span>&nbsp;Map Overlay file (PNG)</a>
            <script>
            javascript:initMap('{{ png_file_url }}',{{ minx }},{{ miny }},{{ maxx }},{{ maxy }});
            </script>
          {% endif %}
      </div>
    </div>
  </body>
</html>
