<html>
  <head>
    <title>
      Coastal Groundwater Vulnerability Assessment and Mapping (CGWVAM)
    </title>
    {# Load the tag library #}
    {% load bootstrap3 %}
    {% load fontawesome %}
    {# Load CSS and JavaScript #}
    {% fontawesome_stylesheet %}
    {% bootstrap_css %}
    <script type="text/javascript" src="{{ STATIC_URL }} /static/js/jquery.js">
    </script>
    {% bootstrap_javascript %}

    {# Display django.contrib.messages as Bootstrap alerts #}
    {% bootstrap_messages %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %} "/>
    <link href="{{ STATIC_URL }} /favicon.ico?v=2" rel="icon" type="image/x-icon">
  </head>
  <body>
    <div id="helpdiv" class="fade-wrapper">
      <div class="infooverlay well">
        <h3>Help</h3>
        <p>This is a tool to analyze groundwater vulnerabilities and you can analyze, view, share, download and take screenshots of the resultant analysis.</p>
      </div>
    </div>
    <div id="disclaimerdiv" class="fade-wrapper">
      <div class="infooverlay well">
        <h3>Website disclaimer</h3>
        <p>The information contained in this website is for general information purposes only. The information is provided by NCESS and while we endeavour to keep the information up to date and correct, we make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability or availability with respect to the website or the information, products, services, or related graphics contained on the website for any purpose. Any reliance you place on such information is therefore strictly at your own risk.</p>
        <p>In no event will we be liable for any loss or damage including without limitation, indirect or consequential loss or damage, or any loss or damage whatsoever arising from loss of data or profits arising out of, or in connection with, the use of this website.</p>
      </div>
    </div>
    <div id="aboutdiv" class="fade-wrapper">
      <div class="infooverlay well">
        <h3>About</h3>
        <p>This application is an open source tool developed to study ground water vulnerability in coastal Areas.</p>
      </div>
    </div>
    <div id="header">
      <div class="col-md-4 header-left ">
        <a href="/"><img class="header-left" src="{% static "Header-left.png" %}"  alt="NCESS LOGO"></a>
      </div>
  	   <ul id="buttons">
          <li><a id="help" class="overlaybutton" href="#">Help</a></li>
          <li><a id="disclaimer" class="overlaybutton" href="#">Disclaimer</a></li>
      </ul>
	  </div>
    <div id="wrapper">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <div id="panel" class="container-fluid well text-center">
        {# Display a form #}
        <form id="uploadinput" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div id="analysis" class="input-group">
            <span>Mode of analysis &nbsp; <span class="glyphicon glyphicon-random"></span></span>
            <div class="analysischeck">
              &nbsp;<label><input id="galditanalysis" name="galditanalysis" class="analysischeck" type="checkbox" value="1" checked>&nbsp;GALDIT-U</label>
              &nbsp;<label><input id="drasticanalysis" name="drasticanalysis" class="analysischeck" type="checkbox" value="1" checked>&nbsp;DRASTIC-U</label>
            </div>
          </div>
          <div id="drasticdiv">
            <div class="input-group">
              <span class="input-group-addon">Depth to water table (D)</span>
              <div class="col-md-3 nopad">
              <input type="text" name="DW" class="form-control drastic" placeholder="weightage" value="5">
              </div>
              <div class="col-md-9 nopad">
              <input type="file" name="DF" class="form-control drastic">
              </div>
            </div>
            <div class="input-group">
              <span class="input-group-addon">Net Recharge (R)</span>
              <div class="col-md-3 nopad">
              <input type="text" name="RW" class="form-control drastic" placeholder="weightage" value="4">
              </div>
              <div class="col-md-9 nopad">
              <input type="file" name="RF" class="form-control drastic">
              </div>
            </div>
            <div class="input-group">
              <span class="input-group-addon">Aquifer media (A)</span>
              <div class="col-md-3 nopad">
              <input type="text" name="AW" class="form-control drastic" placeholder="weightage" value="3">
              </div>
              <div class="col-md-9 nopad">
              <input type="file" name="AF" class="form-control drastic">
              </div>
            </div>
            <div class="input-group">
              <span class="input-group-addon">Soil media (S)</span>
              <div class="col-md-3 nopad">
              <input type="text" name="SW" class="form-control drastic" placeholder="weightage" value="2">
              </div>
              <div class="col-md-9 nopad">
              <input type="file" name="SF" class="form-control drastic">
              </div>
            </div>
            <div class="input-group">
              <span class="input-group-addon">Topography / Slope (T)</span>
              <div class="col-md-3 nopad">
              <input type="text" name="TW" class="form-control drastic" placeholder="weightage" value="1">
              </div>
              <div class="col-md-9 nopad">
              <input type="file" name="TF" class="form-control drastic">
              </div>
            </div>
            <div class="input-group">
              <span class="input-group-addon">Impact of vadose zone (I)</span>
              <div class="col-md-3 nopad">
              <input type="text" name="IW" class="form-control drastic" placeholder="weightage" value="1">
              </div>
              <div class="col-md-9 nopad">
              <input type="file" name="IF" class="form-control drastic">
              </div>
            </div>
            <div class="input-group">
              <span class="input-group-addon">Hydraulic Conductivity (C)</span>
              <div class="col-md-3 nopad">
              <input type="text" name="CW" class="form-control drastic" placeholder="weightage" value="3">
              </div>
              <div class="col-md-9 nopad">
              <input type="file" name="CF" class="form-control drastic">
              </div>
            </div>
            <div class="input-group">
              <span class="input-group-addon">Impact of urban area (U)</span>
              <div class="col-md-3 nopad">
              <input type="text" name="UW" class="form-control drastic" placeholder="weightage" value="1">
              </div>
              <div class="col-md-9 nopad">
              <input type="file" name="UF" class="form-control drastic">
              </div>
            </div>
          </div>

          <div id="galditdiv">
            <div class="input-group">
              <span class="input-group-addon">Groundwater occurrence (Aquifer type)</span>
              <div class="col-md-3 nopad">
              <input type="text" name="GW" class="form-control galdit" placeholder="weightage" value="1">
              </div>
              <div class="col-md-9 nopad">
              <input type="file" name="GF" class="form-control galdit">
              </div>
            </div>
          <div class="input-group">
            <span class="input-group-addon">Hydraulic Conductivity (GDP/m3)</span>
            <div class="col-md-3 nopad">
            <input type="text" name="HW" class="form-control galdit" placeholder="weightage" value="3">
            </div>
            <div class="col-md-9 nopad">
            <input type="file" name="HF" class="form-control galdit">
            </div>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Groundwater Table above MSL (m)</span>
            <div class="col-md-3 nopad">
            <input type="text" name="GTW" class="form-control galdit" placeholder="weightage" value="4">
            </div>
            <div class="col-md-9 nopad">
            <input type="file" name="GTF" class="form-control galdit">
            </div>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Distance from Shore (spatial extend of area from shoreline) (m)</span>
            <div class="col-md-3 nopad">
            <input type="text" name="GDW" class="form-control galdit" placeholder="weightage" value="5">
            </div>
            <div class="col-md-9 nopad">
            <input type="file" name="GDF" class="form-control galdit">
            </div>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Impact of existing Seawater intrusion zone (Cl-/HCO3 ratio)</span>
            <div class="col-md-3 nopad">
            <input type="text" name="IW" class="form-control galdit" placeholder="weightage" value="3">
            </div>
            <div class="col-md-9 nopad">
            <input type="file" name="IF" class="form-control galdit">
            </div>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Thickness of Saturated layer (m) in vertical scale</span>
            <div class="col-md-3 nopad">
            <input type="text" name="TW" class="form-control galdit" placeholder="weightage" value="2">
            </div>
            <div class="col-md-9 nopad">
            <input type="file" name="TF" class="form-control galdit">
            </div>
          </div>
          <div class="input-group">
            <span class="input-group-addon">Impact of Urban area on seawater intrusion</span>
            <div class="col-md-3 nopad">
            <input type="text" name="UW" class="form-control galdit" placeholder="weightage" value="2">
            </div>
            <div class="col-md-9 nopad">
            <input type="file" name="UF" class="form-control galdit">
            </div>
          </div>
        </div>
          </br>
          {% buttons %}
            <button type="submit" name="d" class="btn btn-primary">
              {% bootstrap_icon "ok" %} Calculate
            </button>
          {% endbuttons %}
        </form>
        <div id="results">
          <div id="downloads" class="text-center">
            <h1><span>DOWNLOADS</span></h1>
              {% if outputdr_file_url %}
              <h3>Groundwater Contamination Vulnerable Zone</h3>
                <a class="btn" href="{{ outputdr_file_url }}" download="Groundwater_Contamination_Vulnerable_Zone_Single_Band.tiff"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;Single Band file (GeoTiff)</a>
              {% endif %}
              {% if rendereddr_file_url %}
                <a class="btn" href="{{ rendereddr_file_url }}" download="Groundwater_Contamination_Vulnerable_Zone_RGB_Symbology.tiff"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;Coloured RGB file (GeoTiff)</a>
              {% endif %}
              {% if pngdr_file_url %}
              <a class="btn" href="{{ pngdr_file_url }}" download="Groundwater_Contamination_Vulnerable_Zone_Overlay.png"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;Map Overlay file (PNG)</a>
              {% endif %}

              {% if outputga_file_url %}
              <h3>Seawater Intrusion Vulnerable Zone</h3>
                <a class="btn" href="{{ outputga_file_url }}" download="Seawater_Intrusion_Vulnerable_Zone_Single_Band.tiff"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;Single Band file (GeoTiff)</a>
              {% endif %}
              {% if renderedga_file_url %}
                <a class="btn" href="{{ renderedga_file_url }}" download="Seawater_Intrusion_Vulnerable_Zone_RGB_Symbology.tiff"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;Coloured RGB file (GeoTiff)</a>
              {% endif %}
              {% if pngga_file_url %}
              <a class="btn" href="{{ pngga_file_url }}" download="Seawater_Intrusion_Vulnerable_Zone_Overlay.png"><span class="glyphicon glyphicon-download-alt"></span>&nbsp;Map Overlay file (PNG)</a>
              {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div id="page-content-wrapper">
      <div id="mapwrapper" class="container-fluid">
        <div id="map" class="">
        </div>
        <div id="#menu-toggle" class="mini-submenu pull-left" style="display: block;">
          <a href="#menu-toggle" class="btn btn-secondary" id="menu-toggle"><i class="fa fa-bars fa-6" aria-hidden="true">&nbsp;Analysis</i></a>
        </div>
        <div id="layer-toggle" class="pull-right well" style="display: block;">
          <div calss="text-center">
            <a  id="side-toggle" href="#side" class="btn btn-secondary" data-toggle="collapse"><i class="fa fa-bars fa-6" aria-hidden="true">&nbsp;Information</i></a>
          </div>
          <div id="side" class="collapse">
              <div id="sharelist" class="text-center"></div>
              <div id="legend"></div>
              <h5 class="text-center">Layer Menu</h5>
              <label><input id="galditcheck" class="overlaycheck" type="checkbox" value="" checked>&nbsp;Seawater Intrusion Vulnerability</label></br>
              <input id="galditopacity" class="opacity" type="range"  min="0" max="1" value="1" step="0.1"/>
              <label><input id="drasticcheck" class="overlaycheck" type="checkbox" value="" checked>&nbsp;Groundwater Contamination Vulnerability</label>
              <input id="drasticopacity" class="opacity" type="range"  min="0" max="1" value="1" step="0.1"/>
              <div>
                <h5 class="text-center">Drawing Tools</h5>
                <button class="btn btn-danger" id="delete-button">Delete Shape</button>
                <button class="btn btn-primary" id="calculate" onClick="calcar()">Calculate Area</button>
                <div id="area" class="info text-center">Draw Anything to Calculate Area</div>
              </div>
              <div id="tdCursor" class="info text-center">Hover Cursor for latlong</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer" class="text-center">
  <span id="copyright">All Rights NCESS © 2017</span>
  </div>
  <script>
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
  });
  </script>
    <script>
      //google maps
      var map;
      var maphit = 0;
      var overlay;
      var drasticpng;
      var galditpng;
      var drawingManager;
      var selectedShape;

      function clearSelection() {
        if (selectedShape) {
          selectedShape.setEditable(false);
          selectedShape = null;
        }
      }

      function setSelection(shape) {
        clearSelection();
        selectedShape = shape;
        shape.setEditable(true);
        google.maps.event.addListener(shape.getPath(), 'set_at', calcar);
        google.maps.event.addListener(shape.getPath(), 'insert_at', calcar);
        //calcar();
      }

      function calcar() {
        console.log(selectedShape.type);
          if (selectedShape.type == 'polyline'){
            var length = google.maps.geometry.spherical.computeLength(selectedShape.getPath());
            document.getElementById("area").innerHTML = "Length = " + (length/1000).toFixed(4) + " Km" ;
          }
          if (selectedShape.type == 'polygon'){
            var area = google.maps.geometry.spherical.computeArea(selectedShape.getPath());
            document.getElementById("area").innerHTML = "Area = " + (area/1000000).toFixed(4) + " Sq.Km" ;
          }
        }

      function deleteSelectedShape() {
        if (selectedShape) {
          selectedShape.setMap(null);
          document.getElementById("area").innerHTML = "Draw Anything to Calculate Area" ;
        }
      }

      // Initialize the map and the custom overlay.
      function initMap() {
          maphit = maphit+1;
          map = new google.maps.Map(document.getElementById('map'), {
          scaleControl: true,
          rotateControl: true,
          mapTypeControl: true,
          center: {lat:  22.414024, lng: 80.461715},
          zoom: 5,
          mapTypeId: 'roadmap',
          draggableCursor: 'default'
        });
          //infoWindow = new google.maps.InfoWindow;
        if (navigator.geolocation) {
          navigator.geolocation.watchPosition(function(position) {
            var geolocate = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
            if (drasticpng || galditpng){
              console.log('Zooming to the image layer')
            }
            else {
            map.setCenter(geolocate);
            map.setZoom(15);
            }
            var marker = new google.maps.Marker({
              position: {lat: position.coords.latitude, lng: position.coords.longitude},
              map: map,
              title: 'Your location!'
            });
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }


        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
          infoWindow.setPosition(pos);
          infoWindow.setContent(browserHasGeolocation ?
                                'Error: The Geolocation service failed.' :
                                'Error: Your browser doesn\'t support geolocation.');
          infoWindow.open(map);
        };

        var geocoder = new google.maps.Geocoder();
        var infowindow = new google.maps.InfoWindow();
        google.maps.event.addListener(map, 'click', function(event) {
          try {
            infowindow.close();
          }
          catch (e){

          }
          geocoder.geocode({
            'latLng': event.latLng
          }, function(results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
              if (results[0]) {
                infowindow.setPosition(event.latLng);
                infowindow.setContent(results[0].formatted_address);
                infowindow.open(map);
              }
            }
          });
        });

        var polyOptions = {
          strokeWeight: 0,
          fillOpacity: 0.45,
          editable: true
        };

        drawingManager = new google.maps.drawing.DrawingManager({
          markerOptions: {
            draggable: true
          },
          polylineOptions: {
            editable: true
          },
          rectangleOptions: {
            editable: true
          },
          circleOptions: {
            editable: true
          },
          polygonOptions: {
            editable: true
          },
          map: map
        });


      google.maps.event.addListener(drawingManager, 'overlaycomplete', function(e) {
        if (e.type != google.maps.drawing.OverlayType.MARKER) {
          // Switch back to non-drawing mode after drawing a shape.
          drawingManager.setDrawingMode(null);

          // Add an event listener that selects the newly-drawn shape when the user
          // mouses down on it.
          var newShape = e.overlay;
          newShape.type = e.type;
          google.maps.event.addListener(newShape, 'click', function() {
            setSelection(newShape);
          });
          setSelection(newShape);
          calcar();
        }
      });

      // Clear the current selection when the drawing mode is changed, or when the
      // map is clicked.
      google.maps.event.addListener(drawingManager, 'drawingmode_changed', clearSelection);
      google.maps.event.addListener(map, 'click', clearSelection);
      google.maps.event.addDomListener(document.getElementById('delete-button'), 'click', deleteSelectedShape);
      google.maps.event.addListener(map, 'mousemove', function (event) {
              displayCoordinates(event.latLng);
          });
      }

      function displayCoordinates(pnt) {
          var coordsLabel = document.getElementById("tdCursor");
          var lat = pnt.lat();
          lat = lat.toFixed(4);
          var lng = pnt.lng();
          lng = lng.toFixed(4);
          coordsLabel.innerHTML = "Lat: " + lat + "  Lon: " + lng;
      }
      </script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCve4liJjacyI50x_HJyMPYaxoGL_e7s2U&libraries=geometry,drawing&callback=initMap">
      </script>
      <script>
      var drasticoverlay;
      drasticoverlay.prototype = new google.maps.OverlayView();
      function drasticpngoverlay (png, minx, miny, maxx, maxy) {
        var srcImage = window.location.origin+png;//png;
        console.log(srcImage);
        // The custom drasticoverlay object contains the USGS image,
        // the bounds of the image, and a reference to the map.
        var bounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(miny, minx),
            new google.maps.LatLng(maxy, maxx));
        map.fitBounds(bounds);
        drasticoverlay = new drasticoverlay(bounds, srcImage, map);
      };
        //
      /** @constructor */
      function drasticoverlay(bounds, image, map) {

        // Initialize all properties.
        this.bounds_ = bounds;
        this.image_ = image;
        this.map_ = map;

        // Define a property to hold the image's div. We'll
        // actually create this div upon receipt of the onAdd()
        // method so we'll leave it null for now.
        this.div_ = null;

        // Explicitly call setMap on this overlay.
        this.setMap(map);
      }

      /**
       * onAdd is called when the map's panes are ready and the overlay has been
       * added to the map.
       */
      drasticoverlay.prototype.onAdd = function() {

        var div = document.createElement('div');
        div.style.borderStyle = 'none';
        div.style.borderWidth = '0px';
        div.style.position = 'absolute';

        // Create the img element and attach it to the div.
        var img = document.createElement('img');
        img.src = this.image_;
        img.style.width = '100%';
        img.style.height = '100%';
        img.style.position = 'absolute';
        div.appendChild(img);

        this.div_ = div;

        // Add the element to the "overlayLayer" pane.
        var panes = this.getPanes();
        panes.overlayLayer.appendChild(div);
      };

      drasticoverlay.prototype.draw = function() {

        // We use the south-west and north-east
        // coordinates of the overlay to peg it to the correct position and size.
        // To do this, we need to retrieve the projection from the overlay.
        var overlayProjection = this.getProjection();

        // Retrieve the south-west and north-east coordinates of this overlay
        // in LatLngs and convert them to pixel coordinates.
        // We'll use these coordinates to resize the div.
        var sw = overlayProjection.fromLatLngToDivPixel(this.bounds_.getSouthWest());
        var ne = overlayProjection.fromLatLngToDivPixel(this.bounds_.getNorthEast());

        // Resize the image's div to fit the indicated dimensions.
        var div = this.div_;
        div.style.left = sw.x + 'px';
        div.style.top = ne.y + 'px';
        div.style.width = (ne.x - sw.x) + 'px';
        div.style.height = (sw.y - ne.y) + 'px';
      };

      // The onRemove() method will be called automatically from the API if
      // we ever set the overlay's map property to 'null'.
      drasticoverlay.prototype.onRemove = function() {
        this.div_.parentNode.removeChild(this.div_);
        this.div_ = null;
      };

      var galditoverlay;
      galditoverlay.prototype = new google.maps.OverlayView();
      function galditpngoverlay (png, minx, miny, maxx, maxy) {
        var srcImage = window.location.origin+png;//png;
        console.log(srcImage);
        // The custom galditoverlay object contains the USGS image,
        // the bounds of the image, and a reference to the map.
        var bounds = new google.maps.LatLngBounds(
            new google.maps.LatLng(miny, minx),
            new google.maps.LatLng(maxy, maxx));
        map.fitBounds(bounds);
        galditoverlay = new galditoverlay(bounds, srcImage, map);
      };
        //
      /** @constructor */
      function galditoverlay(bounds, image, map) {

        // Initialize all properties.
        this.bounds_ = bounds;
        this.image_ = image;
        this.map_ = map;

        // Define a property to hold the image's div. We'll
        // actually create this div upon receipt of the onAdd()
        // method so we'll leave it null for now.
        this.div_ = null;

        // Explicitly call setMap on this overlay.
        this.setMap(map);
      }

      /**
       * onAdd is called when the map's panes are ready and the overlay has been
       * added to the map.
       */
      galditoverlay.prototype.onAdd = function() {

        var div = document.createElement('div');
        div.style.borderStyle = 'none';
        div.style.borderWidth = '0px';
        div.style.position = 'absolute';

        // Create the img element and attach it to the div.
        var img = document.createElement('img');
        img.src = this.image_;
        img.style.width = '100%';
        img.style.height = '100%';
        img.style.position = 'absolute';
        div.appendChild(img);

        this.div_ = div;

        // Add the element to the "overlayLayer" pane.
        var panes = this.getPanes();
        panes.overlayLayer.appendChild(div);
      };

      galditoverlay.prototype.draw = function() {

        // We use the south-west and north-east
        // coordinates of the overlay to peg it to the correct position and size.
        // To do this, we need to retrieve the projection from the overlay.
        var overlayProjection = this.getProjection();

        // Retrieve the south-west and north-east coordinates of this overlay
        // in LatLngs and convert them to pixel coordinates.
        // We'll use these coordinates to resize the div.
        var sw = overlayProjection.fromLatLngToDivPixel(this.bounds_.getSouthWest());
        var ne = overlayProjection.fromLatLngToDivPixel(this.bounds_.getNorthEast());

        // Resize the image's div to fit the indicated dimensions.
        var div = this.div_;
        div.style.left = sw.x + 'px';
        div.style.top = ne.y + 'px';
        div.style.width = (ne.x - sw.x) + 'px';
        div.style.height = (sw.y - ne.y) + 'px';
      };

      // The onRemove() method will be called automatically from the API if
      // we ever set the overlay's map property to 'null'.
      galditoverlay.prototype.onRemove = function() {
        this.div_.parentNode.removeChild(this.div_);
        this.div_ = null;
      };
    </script>
    <script>

      function copytoclipboard(x) {
      	var dummyContent = x;
      	console.log("ssdfsdf");
      	var dummy = $('<input>').val(dummyContent).appendTo('body').select();
      	document.execCommand('copy');
      }

      //console.log($("#selectanalysis option:selected").val());
      $(function () {
        $('input[class="analysischeck"]').change(function(){
        //console.log($(this).val());
        if ($('input#drasticanalysis').is(":checked")) {
          $('input.drastic').prop('required',true);
          $('#drasticdiv').show();
        }
        else {
          $('input.drastic').prop('required',false);
          $('#drasticdiv').hide();
        }
        if ($('input#galditanalysis').is(":checked")) {
          $('input.galdit').prop('required',true);
          $('#galditdiv').show();
        }
        else {
          $('input.galdit').prop('required',false);
          $('#galditdiv').hide();
        }
      });
    });

      $(function(){
        $('input[class="opacity"]').change(function(){
          console.log($('input#drasticopacity').val());
          console.log($('input#galditopacity').val());
          $("img[src$='"+drasticpng+"']").css('opacity', $('input#drasticopacity').val());
          $("img[src$='"+galditpng+"']").css('opacity', $('input#galditopacity').val());
        })
      });

      $(function() {
        $('input[class="overlaycheck"]').change(function(){
          $("img[src$='"+drasticpng+"']").css('opacity',0.5);
          $("img[src$='"+galditpng+"']").css('opacity',0.5);
          //console.log(document.getElementById('opacity').value);
        //console.log($(this).val());
        if ($('input#drasticcheck').is(":checked")) {
          try {
              drasticoverlay.setMap(map);
          }
          catch(err) {
              console.log("no drastic overlay image")
          }
        }
        else {
          try {
              drasticoverlay.setMap(null);
          }
          catch(err) {
              console.log("no drastic overlay image")
          }
        }
        if ($('input#galditcheck').is(":checked")) {
          try {
              galditoverlay.setMap(map);
          }
          catch(err) {
              console.log("no galdit overlay image")
          }
        }
        else {
          try {
              galditoverlay.setMap(null);
          }
          catch(err) {
              console.log("no galdit overlay image")
          }
        }
      });
      });


      //declarations and page load
      var url = "";
      var galdit = [];
      var drastic = [];
      var url_string = window.location.href.toUpperCase();     // Returns full URL
      url = new URL(url_string);
      var galdit = url.searchParams.get("GALDIT");
      //console.log(galdit);

      var drastic = url.searchParams.get("DRASTIC");
      //console.log(drastic);

      var shareurl = window.location.origin;
      var drasticparm = drastic+"";
      var galditparm = galdit+"";
      var fullurl = shareurl+"/?drastic="+drasticparm+"&galdit="+galditparm;
      var tohtml = '<b><a href="javascript:copytoclipboard(fullurl);"><i class="fa fa-clone" aria-hidden="true"></i>&nbsp;Share Analysis Copy URl</a></b>';
      $("#sharelist").html(tohtml);
      function shareanalysis (x,p){
        if (p == 1){
          console.log("sdfdsf");
          drasticparm = x.toString();
        }
        else if (p == 2){
          console.log("sdfdsf");
          galditparm = x.toString();
        }
        else {
          console.log("wrong analysis sharing data supplied cannot build sahre url")
        }
        fullurl = shareurl+"/?drastic="+drasticparm+"&galdit="+galditparm;
        var tohtml = '<b><a href="javascript:copytoclipboard(fullurl);"><i class="fa fa-clone" aria-hidden="true"></i>&nbsp;Share Analysis Copy URl</a></b><br/><br/>';
        console.log(fullurl);
        $("#shareanalysis").html(tohtml);
      }

      $(function(){
        var html;
        $('a.overlaybutton').click(function(){
          var id = $(this).attr('id');
          $("#"+id+'div').fadeIn();
          console.log("#"+id+'div');
        });
        $('.fade-wrapper').click(function(){
          $(this).fadeOut();
        });
      })

      $(window).on('load', function(){
          console.log(maphit);
        if (galdit && maphit<2 ) {
          try {
            //console.log("loafing")
            galdit = galdit.split(",");
            galditpng = galdit[0].toLowerCase().replace(/['"]+/g,"");
            minxga = galdit[1];
            minyga = galdit[2];
            maxxga = galdit[3];
            maxyga = galdit[4];
            galditpngoverlay(galditpng, minxga, minyga, maxxga, maxyga);
          }
          catch(e) {
            console.log(e);
          }
        }

        if (drastic && maphit<2) {
          try {
            //console.log("loafing")
            drastic = drastic.split(",");
            drasticpng = drastic[0].toLowerCase().replace(/['"]+/g,"");
            minxga = drastic[1];
            minyga = drastic[2];
            maxxga = drastic[3];
            maxyga = drastic[4];
            console.log(drasticpng);
            drasticpngoverlay(drasticpng, minxga, minyga, maxxga, maxyga);
          }
          catch(e) {
            console.log(e);
          }
        }

      });
    </script>
    {% if pngdr_file_url %}
      <script>
      maphit = maphit + 1;
      drasticpng = '{{ pngdr_file_url }}' ;
      //console.log(drasticpng);
      var drastic = new Array('{{ pngdr_file_url }}',{{ minxdr }},{{ minydr }},{{ maxxdr }},{{ maxydr }});
      console.log(drastic);
      shareanalysis(drastic, 1);
      javascript:drasticpngoverlay('{{ pngdr_file_url }}',{{ minxdr }},{{ minydr }},{{ maxxdr }},{{ maxydr }});
      </script>
    {% endif %}
    {% if pngga_file_url %}
      <script>
      maphit = maphit + 1;
      galditpng = '{{ pngga_file_url }}' ;
      //console.log(galditpng);
      var galdit = new Array('{{ pngga_file_url }}',{{ minxga }},{{ minyga }},{{ maxxga }},{{ maxyga }});
      console.log(galdit);
      shareanalysis(galdit, 2);
      javascript:galditpngoverlay('{{ pngga_file_url }}',{{ minxga }},{{ minyga }},{{ maxxga }},{{ maxyga }});
      </script>
    {% endif %}
  </body>
</html>
